@tailwind base;
@tailwind components;
@tailwind utilities;

.stars-box {
  background-image: url("/Star-wars-logo-new-tall.webp");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center;
}

.galaxy-box {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/death-star.jpeg");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center;
}

.people-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/boba-fet.jpg");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center;
}

.ship-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/ship.jpg.jpg");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  position: static;
}
